<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="ion-text-center">Editar Beneficiarios</ion-title>
      <ion-button [routerLink]="['/beneficiarios']"> <ion-icon slot="icon-only" name="return-up-back"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>



<ion-content>

  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card *ngIf="data">
          <ion-card-content>

            <ion-item-group>
              <ion-item-divider>
                Nombre:
                <ion-input maxlength="30" [(ngModel)]="nombre" type="text" placeholder="Ingresa tu nombre"></ion-input>
              </ion-item-divider>
              <div *ngIf="nombre!=undefined && nombre.length<=4"><ion-label color="danger">*Debe contener al menos 5
                  digitos</ion-label></div>



              <ion-item-divider>
                RFC:
                <ion-input maxlength="13" [(ngModel)]="rfc" type="text" placeholder="Ingresa tu nombre"></ion-input>
              </ion-item-divider>
              <div *ngIf="rfc!=undefined && rfc.length<=12"><ion-label color="danger">*Debe contener al menos 13
                  digitos</ion-label></div>




              <ion-item-divider>
                Telefono:
                <ion-input [(ngModel)]="telefono" type="tel " maxlength="15"
                  placeholder="Ingresa tu telefono"></ion-input>
              </ion-item-divider>
              <div *ngIf="telefono!=undefined && telefono.length<=9"><ion-label color="danger">*Debe contener al menos
                  10 digitos</ion-label></div>



              <ion-item-divider>
                Cuenta:
                <ion-input [(ngModel)]="cuenta" type="tel " maxlength="20" placeholder="Ingresa tu cuenta"></ion-input>
              </ion-item-divider>
              <div *ngIf="cuenta!=undefined && cuenta.length<=4"><ion-label color="danger">*Debe contener al menos 5
                  digitos</ion-label></div>



              <ion-list>
                <ion-item lines="none">
                  <ion-select placeholder="Selecciona un banco" [(ngModel)]="banco">
                    <ion-select-option value="bbva">BBVA</ion-select-option>
                    <ion-select-option value="hsbc">HSBC</ion-select-option>
                    <ion-select-option value="citibanamex">CITI BANAMEX</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <!-- <div *ngIf="banco!=undefined && banco"><ion-label color="danger">*Debe contener al menos 3
                  digitos</ion-label></div> -->

                  <!-- {{banco}} -->
                



              <div *ngIf="nombre!=undefined && nombre.length>=5 &&
                rfc!=undefined && rfc.length>=12 &&
                telefono!=undefined && telefono.length>=10 &&
                cuenta!=undefined && cuenta.length>=5 &&
                banco!=undefined "
                >
                <ion-button (click)="save(nombre, rfc, telefono, cuenta, banco)" expand="block" shape="round">
                  Guardar
                </ion-button>
              </div>


            </ion-item-group>





          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>







<!-- 
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>


          <ion-card-content>

            <form [formGroup]="beneficiarioForm" *ngIf="data" (ngSubmit)="guardar()" class="form" action="">

              <ion-item-group>
                <ion-item-divider>
                  <ion-icon name="person-outline" color="success"></ion-icon>
                  <ion-label>Nombre:</ion-label>
                  <ion-input required formControlName="nombre" type="text" placeholder="Ingresa tu nombre"></ion-input>
                </ion-item-divider>

                <ion-item-divider>
                  <ion-icon name="qr-code-outline" color="primary"></ion-icon>
                  <ion-label>RFC:</ion-label>
                  <ion-input required formControlName="rfc" placeholder="Ingresa tu RFC"></ion-input>
                </ion-item-divider>

                <ion-item-divider>
                  <ion-icon name="call-outline" color="primary"></ion-icon>
                  <ion-label>Telefono:</ion-label>
                  <ion-input  required formControlName="telefono" placeholder="Ingresa tu Telefono"></ion-input>
                </ion-item-divider>

                <ion-item-divider>
                  <ion-icon name="card-outline" color="primary"></ion-icon>
                  <ion-label>Cuenta:</ion-label>
                  <ion-input required formControlName="cuenta" placeholder="Ingresa tu Cuenta"></ion-input>
                </ion-item-divider>

                <ion-item-divider>
                  <ion-icon name="business-outline" color="primary"></ion-icon>

                  <ion-list>
                    <ion-item lines="none">
                      <ion-select placeholder="Selecciona un banco" required formControlName="banco">
                        <ion-select-option value="bbva">BBVA</ion-select-option>
                        <ion-select-option value="hsbc">HSBC</ion-select-option>
                        <ion-select-option value="citibanamex">CITI BANAMEX</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>

                </ion-item-divider>


              </ion-item-group>


              <ion-button [disabled]="!beneficiarioForm.valid" type="submit" expand="block" shape="round">
                guardar
              </ion-button>

            </form>
          </ion-card-content>
        </ion-card>




      </ion-col>

    </ion-row>
  </ion-grid> -->

</ion-content>
