<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="ion-text-center">Administrador de Beneficiarios</ion-title>
      <ion-button [routerLink]="['/home']"> <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid fixed>
    <ion-row *ngFor="let item of data">
      <ion-col size="6">
        <ion-card>

          <ion-card-content>
             <ion-item-group>


              <ion-item-divider>

                nombre: {{item.nombre}}
              </ion-item-divider> <ion-item-divider>
                <ion-button (click)="editar(item.nombre,item.rfc,item.telefono,item.cuenta,item.banco)" slot="start" expand="block" fill="clear" shape="round">
                  editar
                </ion-button>
                <ion-button color="danger" slot="end" expand="block" fill="clear" shape="round">
                  eliminar
                </ion-button>


              </ion-item-divider> 




            </ion-item-group>
        
        
        



        
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-card>
          <ion-card-content>

            <ion-item>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nombre" #input>
                    </mat-form-field></ion-col>
                  <ion-col size="6">
                    <ion-button color="success" (click)="agregar()" expand="block" shape="round">
                      Agregar Beneficiario
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>



            </ion-item>




            <table mat-table  [dataSource]="dataSource"  matSort (matSortChange)="announceSortChange($event)" *ngIf="data" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="idcatalogo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idcatalogo"> idcatalogo </th>
                <td mat-cell *matCellDef="let element"> {{element.idcatalogo}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre"> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="rfc">
                <th mat-header-cell *matHeaderCellDef> rfc </th>
                <td mat-cell *matCellDef="let element"> {{element.rfc}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="cuenta">
                <th mat-header-cell *matHeaderCellDef> cuenta </th>
                <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="banco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by banco"> banco </th>
                <td mat-cell *matCellDef="let element"> {{element.banco}} </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> opciones </th>
                <td mat-cell *matCellDef="let element">

                  <!-- <button (click)="setMarca(row._id)" type="button" class="btn-info" data-bs-toggle="modal"
                    data-bs-target="#infobrandsModal">Info</button>

                <button routerLink="/productos" (click)="setMarca(row._id)" class="btn-products">Productos</button> -->
                  <ion-item lines="none">



                    <ion-button (click)="editar(element.nombre)" expand="block" fill="clear" shape="round">
                      <ion-icon color="primary" name="create-outline"></ion-icon>
                    </ion-button>


                    <ion-button (click)="eliminar(element.nombre)" expand="block" fill="clear" shape="round">
                      <ion-icon color="danger" name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-item>


                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           


            <mat-paginator [pageSize]="5" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>


          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>





</ion-content>