<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Administrador de catalagos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      
      <ion-button (click)="beneficiarios()" expand="block" shape="round">
        Beneficiarios
      </ion-button>


      <ion-button color="danger" expand="block" shape="round">
        Cerrar sesión
      </ion-button>

    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Administrador de catalogos</ion-title>
      </ion-toolbar>
    </ion-header>



    <ion-content>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-content>
                <ion-label class="ion-text-center">TEXTO PRINCIPAL DEL PORTAL </ion-label>
              </ion-card-content>

            </ion-card>


          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-content>





  </div>


</ion-app>